<script setup>
import { Head, Link } from "@inertiajs/vue3";
import { __ } from "@/translation";

defineProps({
    canLogin: Boolean,
    canRegister: Boolean,
    laravelVersion: String,
    phpVersion: String,
});
</script>

<template>
    <Head title="Welcome" />

    <div
        class="relative sm:flex sm:justify-center sm:items-center min-h-screen bg-dots-darker bg-center bg-gray-100 dark:bg-dots-lighter dark:bg-gray-900 selection:bg-red-500 selection:text-white"
    >
        <div
            v-if="canLogin"
            class="sm:fixed sm:top-0 sm:end-0 p-6 text-end z-10"
        >
            <Link
                v-if="$page.props.auth.user"
                :href="route('dashboard')"
                class="font-semibold text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white focus:outline focus:outline-2 focus:rounded-sm focus:outline-red-500"
                >{{ __("app.dashboard") }}</Link
            >

            <template v-else>
                <Link
                    :href="route('login')"
                    class="font-semibold text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white focus:outline focus:outline-2 focus:rounded-sm focus:outline-red-500"
                    >{{ __("app.login") }}</Link
                >

                <Link
                    v-if="canRegister"
                    :href="route('register')"
                    class="ms-4 font-semibold text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white focus:outline focus:outline-2 focus:rounded-sm focus:outline-red-500"
                    >{{ __("app.register") }}</Link
                >
            </template>
        </div>

        <div class="max-w-7xl mx-auto p-6 lg:p-8">
            <div class="flex justify-center">
                <svg
                    viewBox="0 0 62 65"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-16 w-auto bg-gray-100 dark:bg-gray-900"
                >
                    <path
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#3259A8"
                        d="M102 25.6c-.3-.1-.5-.2-.8-.2-.3 0-.6.1-.8.2-.2.1-.4.3-.6.6-.1.3-.2.5-.2.8 0 .3.1.5.2.8.2.3.3.4.6.6.3.2.5.2.8.2.3 0 .5-.1.8-.2.3-.1.5-.3.6-.6.2-.3.2-.5.2-.8 0-.3-.1-.6-.2-.8-.1-.3-.3-.5-.6-.6zm67.9-18.4v10.9c0 1.2-.7 1.8-1.9 1.8h-5.7V7.2h-3.7v15.9c0 1.3-.6 1.9-1.9 1.9h-3.3v3.7h3.3c3.4 0 5.3-1.7 5.5-5h5.7c3.7 0 5.6-1.9 5.6-5.6V7.2h-3.6zm-63.2 18.4c-.3-.1-.5-.2-.8-.2-.3 0-.6.1-.8.2-.2.1-.4.3-.6.6-.1.3-.2.5-.2.8 0 .3.1.5.2.8.2.3.3.4.6.6.3.2.5.2.8.2.3 0 .5-.1.8-.2.3-.1.5-.3.6-.6.2-.3.2-.5.2-.8 0-.3-.1-.6-.2-.8-.2-.3-.4-.5-.6-.6zm-23 0c-.3-.1-.5-.2-.8-.2-.3 0-.6.1-.8.2-.2.1-.4.3-.6.6-.1.3-.2.5-.2.8 0 .3.1.5.2.8.2.3.3.4.6.6.3.2.5.2.8.2.3 0 .5-.1.8-.2.3-.1.5-.3.6-.6.2-.3.2-.5.2-.8 0-.3-.1-.6-.2-.8-.1-.3-.3-.5-.6-.6zm20-3c.9.7 2.1 1.1 3.7 1.1h3.1c3.7 0 5.6-1.9 5.6-5.6V2.2h-3.6v15.9c0 1.2-.7 1.8-1.9 1.8h-3c-1.3 0-1.9-.6-1.9-1.8V7.2h-3.6v10.9c0 1.2-.7 1.8-1.9 1.8h-4c-1.3 0-1.9-.6-1.9-1.8V7.2h-3.6v10.9c0 1.2-.7 1.8-1.9 1.8h-4c-1.3 0-1.9-.6-1.9-1.8V7.2h-3.6v10.9c0 1.2-.7 1.8-1.9 1.8H74c-1.3 0-1.9-.6-1.9-1.8V2.2h-3.6v15.9c0 3.7 1.9 5.6 5.6 5.6h3.4c1.6 0 2.8-.4 3.7-1.1.9.7 2.1 1.1 3.7 1.1h4c1.6 0 2.8-.4 3.7-1.1.9.7 2.1 1.1 3.7 1.1h4c1.2 0 2.5-.4 3.4-1.1zm-10.8 3c-.3-.1-.5-.2-.8-.2-.3 0-.6.1-.8.2-.2.1-.4.3-.6.6-.1.3-.2.5-.2.8 0 .3.1.5.2.8.2.3.3.4.6.6.3.2.5.2.8.2.3 0 .5-.1.8-.2.3-.1.5-.3.6-.6.2-.3.2-.5.2-.8 0-.3-.1-.6-.2-.8-.2-.3-.4-.5-.6-.6zm50.4 2.3c.2-.3.2-.5.2-.8 0-.3-.1-.6-.2-.8-.1-.3-.3-.5-.6-.6-.3-.1-.5-.2-.8-.2-.3 0-.6.1-.8.2-.2.1-.4.3-.6.6-.1.3-.2.5-.2.8 0 .3.1.5.2.8.2.3.3.4.6.6.3.2.5.2.8.2.3 0 .5-.1.8-.2.3-.2.5-.4.6-.6zm24.2.8c.3 0 .5-.1.8-.2.3-.1.5-.3.6-.6.2-.3.2-.5.2-.8 0-.3-.1-.6-.2-.8-.1-.3-.3-.5-.6-.6-.3-.1-.5-.2-.8-.2-.3 0-.6.1-.8.2-.2.1-.4.3-.6.6-.1.3-.2.5-.2.8 0 .3.1.5.2.8.2.3.3.4.6.6.2.1.5.2.8.2zm-21.8-.3c.3.2.5.2.8.2.3 0 .5-.1.8-.2.3-.1.5-.3.6-.6.2-.3.2-.5.2-.8 0-.3-.1-.6-.2-.8-.1-.3-.3-.5-.6-.6-.3-.1-.5-.2-.8-.2-.3 0-.6.1-.8.2-.2.1-.4.3-.6.6-.1.3-.2.5-.2.8 0 .3.1.5.2.8.2.3.4.5.6.6zm7.7-21.2h-3.6v10.9c0 1.2-.7 1.8-1.9 1.8h-10.3c.1-.6.2-1.2.2-1.9V7.2H134v10.9c0 1.2-.7 1.8-1.9 1.8h-9.3v3.7h25c3.7 0 5.6-1.9 5.6-5.6V7.2zM79.7 27.9c.2-.3.2-.5.2-.8 0-.3-.1-.6-.2-.8-.1-.3-.3-.5-.6-.6-.3-.1-.5-.2-.8-.2-.3 0-.6.1-.8.2-.2.1-.4.3-.6.6-.1.3-.2.5-.2.8 0 .3.1.5.2.8.2.3.3.4.6.6.3.2.5.2.8.2.3 0 .5-.1.8-.2l.6-.6zm-9.8 4.5h-1.5V40h4.3l.1-.8h-2.9v-6.8zm9.3 7.7h1.5v-7.6h-1.5v7.6zm13.5-3.4c-.1-.2-.3-.3-.5-.5-.2-.1-.5-.2-.8-.3.2 0 .4-.1.5-.2.2-.1.3-.2.4-.4.1-.1.2-.3.3-.5.1-.2.1-.4.1-.7 0-.3-.1-.6-.2-.8-.1-.2-.3-.4-.6-.6-.2-.1-.5-.3-.9-.3-.3-.1-.7-.1-1.1-.1h-2.2V40h2.6c.5 0 .9 0 1.3-.1s.7-.2.9-.4c.2-.2.4-.4.5-.7.1-.3.2-.6.2-.9 0-.2 0-.5-.1-.7-.2-.1-.3-.3-.4-.5zm-3.4-3.5h.4c.2 0 .4 0 .6.1.2 0 .3.1.5.2.1.1.2.2.3.4.1.2.1.3.1.6v.5c0 .1-.1.2-.1.3 0 .1-.1.1-.1.2l-.1.1c-.1.1-.2.1-.4.1h-1v-2.5zm2.2 5.3c0 .1-.1.3-.1.4 0 .1-.1.2-.2.2-.1.1-.1.1-.2.1s-.1.1-.2.1-.2 0-.3.1h-1.1v-2.9h.5c.6 0 1 .1 1.3.4.3.3.4.6.4 1.1-.1.1-.1.3-.1.5zm10.5-2.3l-1.9-3.7h-1.8l2.5 4.7v2.9h1.5v-2.9l2.5-4.7h-.8l-2 3.7zm11-3.7l-3 7.6h1l.9-2.5h2.8l.9 2.6h1.7l-2.8-7.8-1.5.1zm-.8 4.3l1.2-3.3 1.1 3.3h-2.3zm23-3.9c-.2-.2-.5-.3-.9-.4-.3-.1-.7-.2-1.2-.2h-2.3v7.6h1.5V33h.6c.2 0 .4 0 .5.1.2.1.3.1.4.3.1.1.2.3.3.5.1.2.1.4.1.7 0 .3 0 .6-.1.8-.1.2-.2.4-.3.5-.1.1-.3.2-.5.3-.2.1-.4.1-.6.2h-.2l.1.6h.1c.5 0 1-.1 1.4-.2.4-.1.7-.3 1-.5.3-.2.4-.5.6-.8.1-.3.2-.6.2-1 0-.3-.1-.6-.2-.9-.1-.2-.2-.5-.5-.7zm13.5.5c-.3-.3-.7-.6-1.2-.8-.5-.2-1-.3-1.7-.3-.6 0-1.2.1-1.7.3-.5.2-.8.4-1.1.8-.3.3-.5.7-.7 1.2-.1.5-.2 1-.2 1.6 0 .6.1 1.1.2 1.6s.4.9.7 1.2c.3.3.7.6 1.1.8.5.2 1 .3 1.7.3.6 0 1.2-.1 1.7-.3.5-.2.9-.4 1.2-.8.3-.3.6-.8.7-1.2.2-.5.2-1 .2-1.6 0-.6-.1-1.1-.2-1.6s-.4-.9-.7-1.2zm-.7 3.7c0 .3-.1.6-.1.8 0 .2-.1.4-.2.6-.1.2-.1.3-.2.3-.2.1-.4.2-.7.3-.3.1-.6.1-1 .1s-.7-.1-1-.2c-.3-.1-.5-.4-.6-.6-.2-.3-.3-.6-.3-1-.1-.4-.1-.8-.1-1.2 0-.7 0-1.3.1-1.8.1-.4.2-.7.4-.8.2-.1.4-.2.7-.3.3-.1.6-.1.9-.1.4 0 .7.1 1 .2.3.1.5.3.7.6.2.3.3.6.4.9.1.4.1.8.1 1.3 0 .3 0 .6-.1.9zm12.4-.8c-.2-.2-.4-.3-.6-.4-.2-.1-.4-.2-.7-.3-.2-.1-.5-.2-.7-.3l-.6-.3c-.2-.1-.3-.2-.4-.3-.1-.1-.2-.3-.2-.5s0-.4.1-.5c0-.1.1-.2.2-.3.1-.1.2-.1.4-.1h.9c.2 0 .4 0 .5.1.2 0 .4.1.5.1.2 0 .3.1.5.1l.2-1.1c-.3-.1-.6-.1-.9-.1-.3 0-.7-.1-1-.1-.4 0-.8.1-1.2.2-.3.1-.6.3-.9.5-.2.2-.4.4-.5.7-.1.2-.2.5-.2.7 0 .3.1.6.2.9.1.2.2.4.4.6.2.2.4.3.6.4.2.1.4.2.7.3.2.1.5.2.7.3l.6.3c.2.1.3.2.4.3.1.1.2.3.2.5 0 .3 0 .5-.1.7-.1.2-.2.3-.3.3-.2.1-.5.1-.9.1-.2 0-.4 0-.6-.1-.2 0-.4-.1-.6-.2-.2-.1-.4-.1-.6-.2-.2-.1-.3-.2-.4-.2l-.4 1.1c.2.1.3.2.5.2.2.1.3.1.5.2.2 0 .4.1.6.1h.7c.5 0 .9-.1 1.2-.2.4-.1.7-.3.9-.5.3-.2.5-.5.6-.8.1-.3.2-.6.2-.8 0-.4-.1-.7-.2-.9 0-.1-.1-.4-.3-.5zm6-3.1h2.3V40h1.5v-6.8l2.3-.1.1-.8h-6.1l-.1.9z"
                    />
                    <path
                        xmlns="http://www.w3.org/2000/svg"
                        d="M36.3 12.6c-.1.9-.5 1.8-1 2.6.6-.7 1-1.6 1-2.6z"
                        fill="none"
                    />
                    <path
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#3259A8"
                        d="M7.6 13.1c3.2-.2 7 2.2 11.1 3.5 5.6 1.8 13.8 1.7 16.6-1.4.6-.8.9-1.6 1-2.6 0-1.8-1.1-4.1-3.9-6.9C29 2.1 31-.9 36.5 1.1c1.1.4 2.2.7 3.2 1-1.3-.5-2.5-1-3.8-1.5-5.4-2-7.8 1.7-4.4 5.1C43 17.3 26.5 19 17.9 15.9c-4.1-1.4-7-3.1-10.1-3.1-1.6-.2-4.1 1.2-5.1 3.1.1 0 .1-.1.2-.1.9-1.8 3.2-2.7 4.7-2.7z"
                    />
                    <path
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#FEDD00"
                        d="M37.1 1.8c9.1 3.7 16.2 3.9 22.9.8-6.3 1.2-13.1 1.5-20.3-.5-1.1-.3-2.2-.6-3.2-1-5.5-2-7.4 1.1-4.1 4.6 2.8 2.9 3.9 5.2 3.9 6.9 0 1-.4 1.9-1 2.6-2.8 3.1-11 3.2-16.6 1.4-4.1-1.4-7.9-3.7-11.1-3.5-1.5 0-3.8.9-4.7 2.8-.1 0-.1.1-.2.1-1.3.8-1.7 1.4-2.7 3 2.3-1.1 4.4-.6 6.1 1.2 3 3.4 7.7 10.6 15 11.1-3-.8-5.6-2.6-8.8-8.3-1.7-2.9-5.3-4.8-8.7-5.2.6-2 2-4.1 5.9-3.8 2 .2 5.2 1.4 8.1 2.6 14.6 6 27.5-1.4 17.9-10.9C31.9 2 33.6.5 37.1 1.8z"
                    />
                    <path
                        xmlns="http://www.w3.org/2000/svg"
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        fill="#3259A8"
                        d="M53.9 29.3C55 15.8 44.7 9.9 40.7 8.9c11.4 4.4 13 13.7 13.2 20.4zM41.8 40.1c-5.1-.9-8.4-5.5-11.8-12.9 3.8 7.1 5.8 10.5 11.8 12.9zm8.4-4.6c2-6.2-2-15.6-11-22.2 6.1 4.5 12.2 13.7 11 22.2zM39 4.9c8.9.8 15.5 8 15.7 17.5 0 9.4-7.8 17.7-17.5 17.7-7.5.2-14-4.5-16.6-11.1 2.5 7.1 9.2 12.2 17 12 10 0 18-8.3 17.8-18.3 0-9.5-7.5-17.4-17-17.9h.6zM36.9 40.7c-5.4-1.2-6.3-1.4-10.8-6.2 4.6 4.7 6 4.8 10.8 6.2zm9.3-2.3c-2.3-5.1-6-11.5-10.4-17.7 4.6 6.5 6.3 11.3 10.4 17.7zM20.9 31.2C36.3 34 50.4 26.4 54.7 9.8c-4.8 16-18.9 23.7-33.8 21.4zM26.3 37.7c16.1.9 27.6-6 30.7-20.8C53.4 31 41.9 38 26.3 37.7z"
                    />
                </svg>
            </div>
        </div>
    </div>
</template>

<style>
.bg-dots-darker {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.22676 0C1.91374 0 2.45351 0.539773 2.45351 1.22676C2.45351 1.91374 1.91374 2.45351 1.22676 2.45351C0.539773 2.45351 0 1.91374 0 1.22676C0 0.539773 0.539773 0 1.22676 0Z' fill='rgba(0,0,0,0.07)'/%3E%3C/svg%3E");
}
@media (prefers-color-scheme: dark) {
    .dark\:bg-dots-lighter {
        background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.22676 0C1.91374 0 2.45351 0.539773 2.45351 1.22676C2.45351 1.91374 1.91374 2.45351 1.22676 2.45351C0.539773 2.45351 0 1.91374 0 1.22676C0 0.539773 0.539773 0 1.22676 0Z' fill='rgba(255,255,255,0.07)'/%3E%3C/svg%3E");
    }
}
</style>
